@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'D2Coding';
  src: url('./fonts/D2Coding-Ver1.3.2-20180524.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Leferi';
  src: url('./fonts/LeferiPointWhite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AppleSD';
  src: url('./fonts/AppleSDGothicNeoM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'D2Coding', 'Leferi', -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
